@charset "utf-8";
div{overflow:hidden; background-color:pink; width: 800px; height: 300px; }/*overflow:hidden : 벗어난 범위를 숨겨줌 */
div nav{margin:5px 5px ;padding: 10px 10px;background-color: red;text-decoration:white ;width: 150px;height: 268px;}/*범위를 벗어나는 경우*/
div	nav ul {list-style: none;}
div	nav ul li{margin:50 5px ;padding: 10px 10px;}
div	nav ul li a{text-decoration: none; color: white; text-align: center;}
classa{color: lime;font-family:fantasy;}